/*

RESET

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0% auto;
}

.my-row{
    display:flex
}

.fixed{
    position: fixed;
}

a{
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    font-size: 1.2em;
}

h1{
    font-size: 1.2em;
    padding-bottom: 5px;
}

h2{
    font-size: 0.9em;
}

/*

HEADER

*/

.flex-1{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2400px;
}

.column-1{
    text-align: center;
    width: calc( 100%/3 );
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.column-1>img{
    object-fit: contain;
    max-height: 40px;
    max-width: 400px;    
}

/*

MAIN

*/


.flex-3{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.column-3{
    width: calc(100%/3 - 50px);
}



/*

FOOTER
    
*/

.flex-2{
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: space-around;
}

.column-2{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.right>h2{
    padding-right: 2%;
    padding-bottom: 5px;
}

.right>a{
    padding-left: 1%;
}

/*

DEBUG

*/


.debug .flex-1{
    height: 70px;
    background-color: #FF6900;
    border-bottom: outset;
}

.debug footer,
.debug .flex-2{
    background-color: black;
    color: white;
    
}

.debug main{
    background-color: white;
    height: 1000px;
}

.debug .flex-3{
    background-color: blueviolet;
    height: 800px;
}

.debug .column-3{
    background-color: darkred;
    height: 300px;
}

